<a href="https://colab.research.google.com/github/gauravthombare/gauravthombare/blob/main/OOPS_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
class employee:
  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = last+first+'@gmail.com'
  

  def fullname(self):
    self.name2 = 'abc'
    return "{} {}".format(self.first, self.last)

  def fullname2(self):
    return '1'

  def __add__(self, other):
    return self.pay+other.pay
    pass

emp1 = employee('a', 'b', 100)
emp2 = employee('c', 'd', 200)

In [22]:
print(emp1.__dict__)
print(emp1.fullname())
print(emp1.__dict__)

{'first': 'a', 'last': 'b', 'pay': 100, 'email': 'ba@gmail.com'}
a b
{'first': 'a', 'last': 'b', 'pay': 100, 'email': 'ba@gmail.com', 'name2': 'abc'}

In [14]:
print(int.__add__(4,5))

9